<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/list-style.css}" rel="stylesheet" /> <!-- plik z ...\resources\static\css\list-style.css -->
<title>Lista zadań</title>
</head>
<body>
	<div class="root">
		<h1 th:with="opis=*{param.projektId} ? 'projektu o ID '+ ${param.projektId} : 'wszystkich projektów'" th:text="'Lista zadań ' + ${opis}">Lista zadań</h1>
			<p><a th:href="@{/zadanieEdit}">Dodaj zadanie</a></p>
			<table>
				<thead>
				<tr>
					<th>Id</th>
					<th>Kolejność</th>
					<th>Nazwa</th>
					<th>Opis</th>
					<th>Dodanie</th>
					<th>Projekt</th>
					<th>Edit</th>
					
				</tr>
				</thead>
			<tbody>
				<tr th:each="zadania : ${zadania}">
					<td th:text="${zadania.zadanieId}">Id</td>
					<td th:text="${zadania.kolejnosc}">Kolejnosc</td>
					<td th:text="${zadania.nazwa}">Nazwa</td>
					<td th:text="${zadania.opis}">Opis</td>
					<td th:text="${#temporals.format(zadania.dataCzasDodania, 'yyyy-MM-dd HH:mm:ss')}">Dodany</td>
					<td th:text="${zadania.projekt.nazwa}">Projekt</td>
					<td>
						<a th:href="@{/zadanieEdit(zadanieId=${zadania.zadanieId})}">Edytuj</a><br>
						<a th:href="@{/zadanieEdit(zadanieId=${zadania.zadanieId},delete='true')}">Usuń</a>
					</td>
				</tr>
			</tbody>
			</table>
			<br>
			<a th:href="@{/projektList}">Lista projektów</a><br>
			<a th:href="@{/zadanieList}">Lista wszystkich zadań</a><br>
	</div>
</body>
</html>