.root {
	text-align: center;
}

.container {
	text-align: left;
	display: inline-block;
}
.fld {
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
}
.btn {
	padding: 5px 10px 5px 10px;
	margin: 5px 5px 5px 5px;
	cursor: pointer;
}
.btns-panel {
	border: 1px solid darkGray;
	background: lightGray;
	margin-bottom: 15px;
	text-align: center;
}
.lbl {
	display: block;
	margin: 10px 5px 0px 5px;
}

span.err, label.err {
	color: red;
}

div.err {
	background-color: #ffcccc;
	border: 2px solid red;
	text-align: left;
}
textarea.err {
	background-color: #ffcccc;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
}
